<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "阿里零食" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "CorteChino" %>">
    <%= stylesheet_link_tag "bootstrap_and_overrides", "home", "share" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <header id="header">
    <div id="header-top" class="pull-right">
      <span style="margin-right: 40px;">联系电话：<span>8888888</span></span>
      <% if session[:cart_id] %>
        <span>
          <span id="cart_link"><%= link_to "购物车", cart_path(session[:cart_id]) %></span>
          <i class="icon-shopping-cart" id="cart_box"></i>
          <span style="font: bolder" id="cart_num"><%= Cart.find(session[:cart_id]).total_quantity %></span>
        </span>
      <% else %>
        <span>
          <span id="cart_link">购物车</span>
          <i class="icon-shopping-cart" id="cart_box"></i>
          <span style="font: bolder" id="cart_num">0</span>
        </span>
      <% end %>
      <% if session[:uid] %>
        <span style="margin-left: 40px;">
          <%= link_to "我的订单", order_path(session[:uid]) %>
        </span>
      <% end %>
    </div>
  <div id="hwrap">
    <div id="header-main">
      <a href="/" title="Humaan" class="header-logo">
        阿里零食
      </a>
      <nav>
      <% Category.all.each do |category| %>
        <%= link_to category.name, root_path(:search => category.name), :class => "active" %>
      <% end %>
      </nav>
    </div>
  </div>
  </header>
  <body id="home_body" class="<%= controller_name %> <%= action_name %>">
     <div id="content" class="main_content">
       <%= render 'layouts/messages' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
<script>
$(function(){
	$(window).scroll(function(){
		//alert("Hi");
		if( $(window).scrollTop() > 50 ){
		//	alert("Hi");
			$("#header").addClass("stuck"); 
		}else{
			$("#header").removeClass("stuck");
		}
	});
});
</script>
</html>
